{% extends 'base.html' %}

{% block title %}Enseignant List{% endblock %}

{% block content %}
<h1>Enseignant List</h1>
<a href="{% url 'enseignant_create' %}" class="btn btn-primary mb-3">Add New Enseignant</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for enseignant in enseignants %}
        <tr>
            <td>{{ enseignant.id_enseignant }}</td>
            <td>{{ enseignant.nom_enseignant }}</td>
            <td>
                <a href="{% url 'enseignant_update' enseignant.pk %}" class="btn btn-sm btn-info">Edit</a>
                <a href="{% url 'enseignant_delete' enseignant.pk %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}